Repository Arquisoft/wichat_en1c, pull requests merged in 2025-02, with the labels that each got.

#2 Team members added to README
  README.md
Labels: documentation

#18 fix: remove package_lock
  users/package-lock.json
Labels: 🐛 type: bug

#31 docs: 📃 initial version of the documentation
  docs/images/03_Business_Context.png
  docs/images/03_Technical_Context.png
  docs/images/06_State_Diagram.png
  docs/images/WIChatIconEn1c.png
  docs/images/build_block_view/auth_service.drawio.svg
  docs/images/build_block_view/game_service.drawio.svg
  docs/images/build_block_view/overview.drawio.svg
  docs/images/build_block_view/questions_service.drawio.svg
  docs/images/deployment_view/Level1DeploymentDiagram.png
  docs/index.adoc
  docs/src/01_introduction_and_goals.adoc
  docs/src/02_architecture_constraints.adoc
  docs/src/03_context_and_scope.adoc
  docs/src/04_solution_strategy.adoc
  docs/src/05_building_block_view.adoc
  docs/src/06_runtime_view.adoc
  docs/src/07_deployment_view.adoc
  docs/src/13_annex.adoc
Labels: 📃 type: docs, 🏛️ cat: design

#40 Minor change in text of 07_deployment_view.adoc
  docs/src/07_deployment_view.adoc
Labels: 📃 type: docs

#45 docs: Update runtime view diagrams and descriptions
  docs/images/06_Game.png
  docs/images/06_History.png
  docs/images/06_Login.png
  docs/src/06_runtime_view.adoc
Labels: 📃 type: docs, 🏛️ cat: design
